rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Profiles can be read and written by matching authenticated user
    match /profiles/{email} {
      allow read, write: if true;
    }
    
    // Patients records
    match /patients/{patientId} {
      allow read, write: if true;
    }

    // Appointments records
    match /appointments/{appointmentId} {
      allow read, write: if true;
    }

    // Transactions records
    match /transactions/{transactionId} {
      allow read, write: if true;
    }

    // Diets and Calculations
    match /diets_and_calc/{recordId} {
      allow read, write: if true;
    }

    // Nutria AI chat sessions
    match /nutria_sessions/{email} {
      allow read, write: if true;
    }
  }
}
